apiVersion: v1
kind: Service
metadata:
  name: {{ include "5g-smf.fullname" . }}
  labels:
    {{- include "5g-smf.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    {{- include "5g-smf.selectorLabels" . | nindent 4 }}