apiVersion: v1
kind: ConfigMap
metadata:
  name: amf-config
  namespace: open5gs
  labels:
    app: amf
    component: control-plane
    deployment-phase: day0-core
data:
  amf.yaml: |
    logger:
      file: /var/log/open5gs/amf.log
      level: info

    amf:
      sbi:
        server:
          - address: 0.0.0.0
            port: 7777
        client:
          nrf:
            - uri: http://nrf-service:7777
      
      ngap:
        server:
          - address: 10.100.50.10
      
      metrics:
        server:
          - address: 0.0.0.0
            port: 9090
      
      guami:
        - plmn_id:
            mcc: 001
            mnc: 01
          amf_id:
            region: 2
            set: 1
      
      tai:
        - plmn_id:
            mcc: 001
            mnc: 01
          tac: 2  # Changed from 1 to 2
      
      plmn_support:
        - plmn_id:
            mcc: 001
            mnc: 01
          s_nssai:
            - sst: 1
      
      security:
        integrity_order: [ NIA2, NIA1, NIA0 ]
        ciphering_order: [ NEA0, NEA1, NEA2 ]
      
      network_name:
        full: Open5GS
        short: O5GS
      
      amf_name: open5gs-amf