---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-operator
  namespace: telco-observability
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-operator
rules:
- apiGroups: [""]
  resources:
    - nodes
    - services
    - endpoints
    - pods
    - nodes/metrics
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
    - configmaps
  verbs: ["get"]
- apiGroups: ["monitoring.coreos.com"]
  resources:
    - prometheuses
    - prometheuses/finalizers
    - servicemonitors
    - podmonitors
    - prometheusrules
    - alertmanagers
  verbs: ["*"]
- apiGroups: ["apps"]
  resources:
    - statefulsets
  verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus-operator
subjects:
- kind: ServiceAccount
  name: prometheus-operator
  namespace: telco-observability
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-operator
  namespace: telco-observability
  labels:
    app: prometheus-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-operator
  template:
    metadata:
      labels:
        app: prometheus-operator
    spec:
      serviceAccountName: prometheus-operator
      containers:
      - name: prometheus-operator
        image: quay.io/prometheus-operator/prometheus-operator:v0.68.0
        args:
        - --kubelet-service=kube-system/kubelet
        - --prometheus-config-reloader=quay.io/prometheus-operator/prometheus-config-reloader:v0.68.0
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 200m
            memory: 200Mi
        ports:
        - containerPort: 8080
          name: http
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65534
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-operator
  namespace: telco-observability
  labels:
    app: prometheus-operator
spec:
  ports:
  - name: http
    port: 8080
    targetPort: http
  selector:
    app: prometheus-operator