apiVersion: v1
kind: ConfigMap
metadata:
  name: amf-config
  namespace: telco-core
data:
  amf.yaml: |
    db_uri: mongodb://mongodb-service:27017/open5gs
    logger:
      level: info
    amf:
      sbi:
        - addr: 0.0.0.0
          port: 7777
      ngap:
        - addr: 0.0.0.0
      guami:
        - plmn_id:
            mcc: 999
            mnc: 70
          amf_id:
            region: 2
            set: 1
      tai:
        - plmn_id:
            mcc: 999
            mnc: 70
          tac: 1
      plmn_support:
        - plmn_id:
            mcc: 999
            mnc: 70
          s_nssai:
            - sst: 1
      security:
        integrity_order: [ NIA2, NIA1, NIA0 ]
        ciphering_order: [ NEA0, NEA1, NEA2 ]
      network_name:
        full: Open5GS
      amf_name: AMF